
ion-toolbar {
    --background: #000 !important;
    --ion-color-base: #fff !important;
}

ion-grid, ion-row {
    height: 100%;
}

h1 {
    font-size: xx-large;
}

a {
    color: #fff;
    text-decoration: none;
}