

ion-textarea, ion-input {
    background-color: #ccc;
    font-size: small;
}

ion-label.error {
    color: #f77;
}

ion-fab {
    padding-right: 20px;
    padding-bottom: 20px;
}

ion-fab-list {
    padding-bottom: 20px;
}